*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
ul li{
    margin: 0 50px;
    padding: 20px;

}
a{
    text-decoration: none;
    
}
li:hover{
    padding: 20px;
    border-top:4px solid rgb(73, 195, 12);
}
